<template name="about">

    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">KStarter의 간편함에 빠져보세요.</h1>
            <p class="splash-subhead">
                KStarter에서는 쉽고 간편한 등록 및 펀딩 기능을 제공하고 있습니다.
            </p>
            <p>
                <a href="/contract" class="btn btn-lg btn-info" style="width:250px">시작하기</a>
            </p>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">KStarter의 장점</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                    <h3 class="content-subhead">
                        <i class="fa fa-rocket"></i>
                        빠르고 간편한 프로젝트 등록 및 펀딩 기능들
                    </h3>
                    <p>
                        KStarter는 빠르고 간편한 프로젝트 등록과 펀딩 기능을 제공하고 있습니다.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-mobile"></i>
                        반응형 펀딩 기능 제공
                    </h3>
                    <p>
                        어느 디바이스를 통해서라도 프로젝트 등록이 쉽고 간편하게 할 수 있도록 제공하고 있습니다.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-th-large"></i>
                        소통할 수 있는 커뮤니티 기능 제공
                    </h3>
                    <p>
                        KStarter에서는 프로젝트에 대해 소통할 수 있는 커뮤니티 기능을 제공하고 있습니다.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-check-square-o"></i>
                        신뢰를 위한 보안 강화
                    </h3>
                    <p>
                        항시 보안을 위해 철저한 보안을 하고 있으며 펀딩을 마음 편히 할 수 있습니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>