<template name="funding">

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Project Video </h4>
                </div>
                <div class="modal-body">
                    <div id="player"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btnclose" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container marketing " style="padding-top: 75px;">

        <div class="jumbotron">
            <h1>MY FUNDING PAGE</h1>
            <p><a href="#myFundingList">나의 펀딩목록보기</a></p>
            <p class="text-right"><a class="btn btn-primary btn-lg " href="{{pathFor 'enroll'}}" role="button">프로젝트
                등록하기</a></p>
            <!--<button type="button" class="btn btn-primary btn-lg reset">초기화</button>-->
        </div>


        <div class="row">
            <h1> MY FUNDING LIST</h1>

            {{#each getMyInvestInfo}}
                <div class="col-lg-4" id="myFundingList">

                    <img class="img-circle"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         alt="Generic placeholder image" width="140" height="140">
                    <h2>{{title}}</h2>
                    <p>{{content}}</p>
                    <!-- Progress bar : 목표 funding금 도달치를 보여준다.  -->
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar -striped" role="progressbar"
                             aria-valuenow={{rate}} aria-valuemin="0" aria-valuemax="100" style="width: {{rate}}%">
                            <span class="sr-only">{{rate}}% Complete (success)</span>
                            {{rate}}%
                        </div>
                    </div>
                    <p><a data-toggle="modal" data-target="#myModal" id="myModal" class="btn btn-default showvideo" role="button" data-value={{@index}}>동영상보기 &raquo;</a></p>
                    <p><a class="btn btn-default" href="#" role="button">펀딩하기</a></p>
                </div><!-- /.col-lg-4 -->
            {{/each}}

        </div>
    </div>
</template>